{{>header}}
{{>navbar}}
 <div class="container-fluid">
      <div class="row d-flex justify-content-center ">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 " >
            <img class="img-fluid rounded-circle h-0"  src="../images/comp1.jpg" alt="">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h2 class="text-center"><span>Director's Profile</span> </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ducimus ratione, a dicta dolore laboriosam tempora sunt perspiciatis doloremque ab, placeat inventore recusandae eligendi rerum! Quisquam enim labore illo asperiores iusto exercitationem eius amet laboriosam dolorum iure sunt repudiandae cupiditate autem debitis necessitatibus quo illum temporibus qui voluptas, dolores mollitia quae animi ut! Aut fugiat placeat repellendus dicta veniam aperiam maxime, nemo blanditiis exercitationem a. Incidunt, soluta eveniet. Aliquam beatae animi perspiciatis et illo laudantium, quo eaque incidunt eos ipsa illum error praesentium consequuntur laboriosam pariatur cumque magni vitae ea, molestiae dolorum laborum iure sunt sequi officia. Ut voluptatum vero facilis esse sit suscipit enim deleniti, omnis deserunt magni aliquam veniam excepturi ad illum saepe corporis! Labore dicta distinctio facere laboriosam. Iure non quia quos iste sunt consectetur culpa soluta eius nisi expedita recusandae officiis, architecto est ex aliquid pariatur in natus illo earum rerum enim, impedit accusamus dicta illum. Incidunt rem cum, fugiat odit eligendi modi hic pariatur quibusdam eaque ipsam doloremque quam quae. Magni, recusandae. Reiciendis quasi recusandae omnis nostrum voluptates corrupti modi quod corporis! Cum alias dicta qui eveniet asperiores. Alias minus a ipsum enim quibusdam ullam culpa id natus quaerat dolore, laboriosam mollitia exercitationem possimus voluptatem aspernatur perferendis corrupti repellendus maxime nesciunt qui autem incidunt? Facere soluta dignissimos doloribus eum vero! Quia, omnis doloribus, aspernatur ab quod quo voluptatum eligendi alias beatae eveniet hic neque sint ea rem quam eaque ad consequatur saepe delectus labore. Perspiciatis, eligendi corrupti molestias commodi recusandae, odit consequuntur exercitationem fugiat ipsam dolorem sunt deserunt nobis! Voluptas atque consequatur corrupti nulla inventore delectus iure? Placeat, eum ratione sunt velit pariatur distinctio eveniet et reprehenderit quo dolore necessitatibus nulla tenetur eius quaerat autem accusamus ullam consequuntur, labore voluptate, earum tempore debitis sed. Exercitationem delectus harum iure beatae perferendis placeat accusantium dolore quisquam recusandae nesciunt sint doloribus numquam facere praesentium, error, excepturi ipsa repellat similique dolorem, animi a ullam! Corrupti distinctio sint perspiciatis dolore porro delectus modi aliquam. Repellendus commodi excepturi consequatur? Placeat soluta nihil minima sint, nostrum ratione suscipit adipisci sit nesciunt dolore?</p>
        </div>
      </div>
    </div>



{{>footer}}