{{>header}}
{{>navbar}}
 
 <div class="container">
      <div class="row d-flex justify-content-center mt-3 mb-3">
        <div class="col-12">
          <h3 class="section-title-underline text-center">
            <span class="flex-wrap">Our Offered Courses</span>
          </h3>
        </div>
      </div>
    </div>

{{>coursecard}}
{{>footer}}

