 <!-- card starts here  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
          <div class="card w-80">
            <img
              src="../images/comp1.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <h4 class="text-warning">&#8377; 4000</h4>
              <h5 class="card-title">Computer Teacher Training Course(CTTC)</h5>
              <p class="card-text mb-1">
                This course is for who wants to be a computer teacher.......
              </p>
              <p class="tex-primary mt-1">
                <a href="../coursespages/adca+.html">Know more</a>
              </p>
              <a href="#" class="btn btn-primary">Join Course</a>
            </div>
          </div>
        </div>

        